<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- reset css -->
	<link rel="stylesheet" href="https://unpkg.com/destyle.css@1.0.5/destyle.css" />
	<!-- css -->
	<link rel="stylesheet" href="/css/style.css">
	<!-- ファビコン -->
	<link rel="icon" href="/img/favicon.ico" sizes="any" />
	<!-- fontawesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />

	<title>管理者ログイン</title>
</head>

<body>
	<main class="page-container">

		<!-- 管理者ログイン画面 -->
		<div class="top-title">
			<h1>ADMIN</h1>
			<h3>管理者ログイン</h3>
		</div>

		<div class="form-card">

			<!-- エラーメッセージ -->
			<p th:if="${error}" class="error-message" th:text="${error}"></p>

			<!-- 管理者ログインフォーム -->
			<form action="/matches/admin/login" method="post">
				<div class="form-group">
					<label>管理者パスワード</label>
					<input type="password" name="password">
				</div>

				<button class="primary-button" type="submit">
					ログイン
				</button>
			</form>
		</div>

		<a href="/matches" class="primary-link-button">
			試合一覧へ戻る
		</a>

	</main>

	<div th:replace="~{fragments/nav :: bottomNav}"></div>
</body>

</html>